.RegisterPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.RegisterPage .search-box-pane {
    width: 30%;
    height: 100%;
    background: #EFF6FC;
    border-right: 1px solid #103D5D;
}

.RegisterPage .search-box-pane {
    padding: 0.5em;
}

.RegisterPage .map-pane {
    width: 70%;
    height: 100%;
}

.RegisterPage .Address {
    padding-top: 1em;
}

.RegisterPage .Address .wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background: #FA6900;
    color: #EFF6FC;
}
.RegisterPage .Address .side {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}

.RegisterPage .Address .side i {
    font-size: xx-large;
}

.RegisterPage .Address .content {
    grid-column: 2;
    grid-row: 1;
    background: #103D5D;;
}

.RegisterPage .Address .content .container {
    padding: 0.5em;
}

.RegisterPage .Address .content span {
     display: block;
    text-align: right;
 }