button.Button {
    border-radius: 2px;
    min-width: 88px;
    background-color: #FA6900;
    cursor: pointer;
    border: 0;
    color: #fff;
    font-size: 14px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    padding: 10px 6px;
  }
