.ColorPicker {
    position: relative;
    margin-top: 0.25em;

    .border {
        padding: 0.25em;
        background: white;
        border: solid 1px #d3d3d3;
    }

    .color-grid {
        position: absolute;
        top: 0;
        left: 1.25em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 0.2em;
        background: #fff;
        border: solid 1px #d3d3d3;
        border-radius: 0.15em;
        padding: 0.1em;
        z-index: 9999;
    }
    .color {
        min-width: 0.5em;
        min-height: 0.5em;
        width: 0.5em;
        border-radius: 15%;
        border: solid 1px #d3d3d3;

        &:hover {
            border-color: #000000;
        }
    }
}
    