.Dashboard {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
        grid-column-gap: 1em;
        grid-row-gap: 1.15em;
  }
  
  .grid {
    color: #fff;
    font-size: 3rem;
    border-radius: 10px;

    .MapComponent > div,
    .CompanyList > div,
    .add-company {
      border-radius: 10px;
    }

    .add-company {
      margin-bottom: 0.25em;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
      display: flex;
      border: solid 1px #d3d3d3;

      .Button {
        margin-left: 1em;
      }

      .Editor {
        display: grid;
      }
    }
  }

  .content {
    height: 8em;
    box-sizing: border-box;

    .CompanyLegend {
      margin-top: 0.5em;
      border-radius: 10px;
    }
  }
}