.EmployeeGrid {
  position: relative;
  margin-bottom: 0.25em;

  .overlay.active {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:#000;
    opacity: .3;
    z-index: 2;
  }

  .overlay.inactive {
    display: none;
  }

  .employee-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.25em;

    .Address {
      margin: 0;
      padding: 0;
    }
  }
}