.InfoBox {
  .wrapper {
    display: grid;
    grid-template-columns: 1em 1fr;
    color: #EFF6FC;
    .side-wrapper {
      display: flex;

      .side {
        display: flex;
        flex-direction: column;
        width: 100%;

        .icon {
          margin-top: 0.5em;
          margin-bottom: 0.5em;
          flex-grow: 1;
          min-height: 1em;
          font-size: 1rem;
        }

        i {
          font-size: 1rem;
        }

        svg {
          display: block;
          margin: auto;
          font-size: 1rem;
        }

        .controls {
          display: flex;
          flex-direction: column;
          width: 100%;          

          button {
            cursor: pointer;
            padding: 0;
            margin: 0;
            border-radius: 0;
            border: 0;
            min-width: 0;
            width: 100%;
            flex-grow: 1;
            background: #ffbb30;
            -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
            box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.26);
            color: #fff;
            font-size: 1rem;
            min-height: 2em;
          }
        }
      }

    }
  }

  .info-content {
    grid-column: 2;
    grid-row: 1;
    background: #103D5D;

    .info-container {
      padding: 0.15em;
      text-align: right;

      span {
        display: block;
      }

      h1 {
        font-size: 1rem;
        margin: 0;
      }

      h2 {
        font-size: 0.75rem;
        margin-top: 0.1em;
        margin-bottom: 0.1em;
        font-weight: bold;
      }

      p {
        margin: 0;
        font-size: 0.75rem;
        font-weight: lighter;
      }

    }
  }
}