.InfoBox {
  position: relative;
  height: 100%;

  button {
    cursor: pointer;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    min-width: 0;
    width: 3em;
    background: #ffbb30;
    color: #fff;
    font-size: 1rem;
    min-height: 2em;
    position: absolute;
    top: 0;
    transition: transform 0.5s;
    z-index: -1;
  }

  &:hover {
    button {

      &.button-delete {
        transform: translate(3em, 0);
      }

      &.button-edit {
        transform: translate(6em, 0);
      }

      &.button-employee {
        transform: translate(9em, 0);
      }
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1em 1fr;
    color: #EFF6FC;
    .side-wrapper {
      display: flex;
      z-index: 2;

      .side {
        display: flex;
        flex-direction: column;
        width: 100%;

        .icon {
          margin-top: 0.5em;
          margin-bottom: 0.5em;
          flex-grow: 1;
          min-height: 1em;
          font-size: 1rem;
        }

        i {
          font-size: 1rem;
        }

        svg {
          display: block;
          margin: auto;
          font-size: 1rem;
        }

        .controls {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
      }

    }
  }

  .info-content {
    grid-column: 2;
    grid-row: 1;
    background: #103D5D;

    .info-container {
      padding: 0.15em;
      text-align: right;

      span {
        display: block;
      }

      h1 {
        font-size: 1rem;
        margin: 0;
      }

      h2 {
        font-size: 0.75rem;
        margin-top: 0.1em;
        margin-bottom: 0.1em;
        font-weight: bold;
      }

      p {
        margin: 0;
        font-size: 0.75rem;
        font-weight: lighter;
      }

    }
  }
}