.Address {
  padding-top: 1em;
  padding-bottom: 1em;

  .wrapper {
    display: grid;
    grid-template-columns: 3em 1fr;
    background: #FA6900;
    color: #EFF6FC;
    .side-wrapper {
      display: flex;

      .side {
        display: flex;
        flex-direction: column;

        .icon {
          margin-top: 0.5em;
          margin-bottom: 0.5em;
        }

        i {
          font-size: xx-large;
        }

        svg {
          display: block;
          margin: auto;
          flex-grow: 1;
        }

        .controls {
          display: flex;
          flex-direction: column;
          width: 3em;
          flex-grow: 1;

          button {
            padding: 0;
            margin: 0;
            border-radius: 0;
            border: 0;
            min-width: 0;
            width: 100%;
            flex-grow: 1;
            background: #ffbb30;
            -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
            box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.26);
            color: #fff;
            font-size: 1rem;
          }
        }
      }

    }
  }

  .content {
    grid-column: 2;
    grid-row: 1;
    background: #103D5D;

    .container {
      padding: 0.5em;
      text-align: right;

      span {
        display: block;
      }

      h1 {
        font-size: 1em;
      }

      p {
        margin: 0;
      }

    }
  }
}