html,
body {
  height: 100%;
  width: 100%;
  margin: 0
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}
header {
  p {
    width: 400px;
    margin: 0 auto;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 0.67em;
  }

  h1 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.3px;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
  }

  i {
    vertical-align: middle;
    margin-left: 12px;
  }
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;

  .row.header {
    flex: 0 1 auto;
  }

  .row.content {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    overflow-y: auto;
    height: 100%;
    width: 100%;
  }

  .row.footer {
    flex: 0 1 5em;
  }
}

.user-profile {

  img {
    border-radius: 50%;
    max-width: 100%;
  }
}